@charset "UTF-8";
/* CSS Document */

	*{
		padding: 0px;
		margin: 0px;
	}

	body{
		background-color: white ;
		font-family: 'Muli', sans-serif;
		font-size: 15px;
		color: white;
	}

	#main{
		text-align: center;
	}


	p{
		line-height: 1.5em;
		padding: .5em;
	}

	#wholepage{
		padding: 5px;
		margin-top: 25px;
		background-color: white;
	}

	#homeImage{
		padding: 50px 0
	}

	img { border: none; }
	A:link {
 		COLOR: white;
		text-decoration: none;
	}
	A:visited {
 		COLOR: #e2e2e2;
		text-decoration: none;
	}
	A:hover {
 		COLOR: #003040;
		text-decoration: none;
		}

/*  ------    ------  Header   ------   ------  */

#header p{
	height: 40px;
	padding-bottom: 30px;
}

#header{
	border-bottom: 15px solid #5d5d5d;
}

/*   ------    ------  Line Header   ------    ------  */

.lineHeader{
	background: url("images/lineTile.png");
	background-repeat:repeat-x;
	background-position:center;
	text-align: center;
	margin-bottom: 10px;
}

.topHeader{
	/*background: url("images/line.png");
	background-repeat:repeat-x;*/

	background-position:center;
	text-align: center;
	margin-bottom: 30px;
	font-size: 26px;
	font-weight: light;
}

.topHeader h3{
	margin: 0;
	padding: 0;
}

.topHeader .white{
	background-color: #d4d4d4;
	color: #111;
	font-weight: light;
-webkit-border-bottom-right-radius: 5px;
-webkit-border-bottom-left-radius: 5px;
-moz-border-radius-bottomright: 5px;
-moz-border-radius-bottomleft: 5px;
border-bottom-right-radius: 5px;
border-bottom-left-radius: 5px;
margin-bottom: 10px;
	}

.about #header{
	margin-bottom: 10px;
}

/*   ------    ------  Navigation   ------    ------  */

#topNav ul li ul li{
	display: block;
	text-align: left;
	line-height: 2em;
	font-size: 15px;
}
#topNav ul li ul li:hover{
	background-color: #999;
}
#topNav ul li ul{
	background-color: gray;
	position: absolute;
	top: 21px;
	left: -6px;
	display: none;
}

	#header ul li{
		display: inline;
		font-size: 18px;
		position: relative;
	}

	#header ul li a{
		padding: 0 15px;
	}

	#header ul{
		text-align: right;
	}


/*   ------    ------  Footer   ------    ------  */

	#header, #footer{
		background-color: gray;
	}

	#footer{
		background-color: gray;
		margin: 10px 0px;
		border-top: 10px solid #5d5d5d;
		text-align: left;
	}

	#footer{
		clear: both;
		height: 1.8em;
	}

	#footer #copyright{
		margin-top: -20px;
		margin-left: 5px;
	}

	#next{
		text-align: right;
		margin: 0 5px;

	}

	#next a{

		width: 124px;
		padding: 4px 5px;

		font-size: 18px;

	}




/*   ------    ------  Blocks   ------    ------  */

	#digPics{
		margin-left: 0px
	}

	#abouttext, #digPics{
		color: #333;
	}

	#videos{
		text-align: center;
	}

	#wholepage{
		width: 890px;
		margin-left: auto;
		margin-right: auto;
	}

	h2, h3{
		color: #111;
		margin: 10px 0;
	}

	#homeTile:first-child{
		padding-left: 0px;
	}
	#homeTile:last-child{
		padding-right: 0px;
	}

	#homeTile{
		padding: 0 14px;
		float: left;
		margin-bottom: 15px;
	}

	#homeTile p{
		text-align: center;
		background-color: white;

	}

	#homeTile a:link, #homeTile a:visited{
		color: #111;
	}


	#homeTilesChunk{
		margin: 10px 0;
	}

	#threedMax #animBlock{
		float: right;

	}

	#mayaBlock{

		width: 800px;
	}

	.clear{

		clear: both;
		margin-bottom: 20px;
	}

	h2{
		margin: 4px 0;
		text-align: center;
		font-weight: normal;
	}

	#js #homeTile{
		padding: 14px;
	}

	#videoTile{
		float: left;
		padding: 8px;
	}

	#crit #homeTile{
		padding: 8px;
	}

	#main #homeTile p{
		font-size: 18px;
		background: white;


	}

	#main #homeTile img{
		margin: 10px -33px;
	}

	#main h2{
		background: url("images/lineTile.png");
		background-repeat:repeat-x;
		background-position:center;
	}

	.white{
		background-color: white;
		padding: 0 10px;

	}


a.darken {
    display: inline-block;
    background: #111;
    padding: 0;
}

a.darken img {
    display: block;

    -webkit-transition: all 0.2s linear;
       -moz-transition: all 0.2s linear;
        -ms-transition: all 0.2s linear;
         -o-transition: all 0.2s linear;
            transition: all 0.2s linear;
}

a.darken:hover img {
    opacity: .5;

}


/*   ------    ------  About Page   ------    ------  */

#aboutPage p{
	text-align: left;
	color: #111;
}

#aboutPage img{
	float: left;
	padding: 0 15px 15px 0;
	background-color: white;
}

div#abouttext{
	background-color: white !important;
}


/*   ------    ------  thumbnails   ------    ------  */

.thumb{
	line-height: 0;
	padding: 0px;
    margin: 0px;
	background-color: #111;
	display: inline-block;


}

a.thumb:hover img {
	background-color: #111;
	cursor: pointer;
    opacity: .2;
    /*-webkit-transition: all 0.2s linear;
       -moz-transition: all 0.2s linear;
        -ms-transition: all 0.2s linear;
         -o-transition: all 0.2s linear;
            transition: all 0.2s linear;*/
}

.caption{
	color: #111;
	text-align: left;
}

#videos #thumbs{
	text-align: left;
}

/*   ------    ------  VideoPage   ------    ------  */

.videoBlock{
	margin: 20px 0 0 0;
	display: none;
}

.videoBlock h2{
	text-align: left;
}

.videoBlock iframe{
	float: left;
	padding: 0 10px 0 0;
}

.hidden{
	display: none;
}

#mobile{
	width: 450px;
	display: inline;
	float: left;
}

#mobile iframe{
	float: left;
}


#wholepage div#abouttext{
	margin: 0px; !important;
	padding: 0px;
}

#mobileText{
	width: 175px;
	float: right;
	padding-right: 10px;
	line-height: 1.5em;

}

#flashMiddle{
	text-align: center;
	width: 550px;
	float: right;
	margin-top: -21px;
}

#videos .description{
	font-style: italic;
}

#ctl #homeTile{
	padding: 0 5px;
}

#hideWeb{
	display: none;
}

#left{
	float: left;
}
#wholepage #aboutPage #right{
	float: right;
	text-align: right;
}

#wholepage #aboutPage p.contact{
	width: 200px;
	padding-left: 0px;
}

.three .darken{
	margin: 8px;
}


#photoshop{
	width: 590px;
	float: right;
}
